.task {
  margin:5% 0px;
}
.dragging {
  background-color: #f0f0f0;
}
.topHeading{
  padding: 10px 20px 0px 20px!important;
}
.bottomHeading{
  padding-top:5px!important;
}
.completion{
  padding: 0px 15px!important;
}
.sidebyside{
  display: flex;
  justify-content: space-between;
}