.row{
  display: flex;
  justify-content: space-between;
  overflow: auto;
}
.rowEnd{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
}
.container{
  padding:1% 2%;
}